# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Secrets / credentials
*.env
config.json
token.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
